* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: "Roboto Condensed", arial, sans-serif;
	font-size: 10px;
}
/* HEADER */
header {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	width: 70%;
	height: 20%;
	background-color: #f5d6d6;
	border: 3px solid #0b1226;
	border-bottom: none;
	border-radius: 20px 20px 0 0;
}
section.baner {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
section.baner h1 {
	font-size: 3.6rem;
	color: #f2a0c6;
	font-weight: bold;
	cursor: default;
}
section.baner div.logo {
	width: 120px;
	height: 120px;
	background-image: url(Images/logo.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
section.baner div.about {
	position: absolute;
	top: 13%;
	right: 3%;
	width: 30px;
	height: 30px;
	background-color: #f2a0c6;
	border: 3px solid #0b1226;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.2s;
}
section.baner div.about:hover {
	transform: scale(140%);
	transform-origin: center;
}
div.about i {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform-origin: 0 25%;
	font-size: 1.6rem;
	color: #0b1226;
	animation: shake 4s infinite linear;
}

@keyframes shake {
	0% {
		transform: rotate(0deg) translate(-50%, -50%);
	}
	3% {
		transform: rotate(-15deg) translate(-50%, -50%);
	}
	6% {
		transform: rotate(0deg) translate(-50%, -50%);
	}
	9% {
		transform: rotate(15deg) translate(-50%, -50%);
	}
	12% {
		transform: rotate(0deg) translate(-50%, -50%);
	}
	15% {
		transform: rotate(-15deg) translate(-50%, -50%);
	}
	18% {
		transform: rotate(0deg) translate(-50%, -50%);
	}
	21% {
		transform: rotate(15deg) translate(-50%, -50%);
	}
	24% {
		transform: rotate(0deg) translate(-50%, -50%);
	}

	100% {
		transform: rotate(0deg) translate(-50%, -50%);
	}
}
/*SEKCJA MAIN */

section.main {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
	width: 70%;
	height: 40%;
	background-color: #f5d6d6;
	border-right: 3px solid #0b1226;
	border-left: 3px solid #0b1226;
}
div.main-view {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	min-height: 100%;
}
button.dish {
	position: relative;
	flex-basis: 26%;
	height: 60px;
	background-color: #17223f;
	border-style: none;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
}
button.dish::before {
	content: "";
	position: absolute;
	top: 0;
	left: -110%;
	width: 110%;
	height: 70px;
	transform: translateX(0);
	background-color: #f2a0c6;
	border-radius: 10px;
	transition: 0.4s linear;
}
button.starters:hover::before {
	transform: translateX(100%);
}
button.soups:hover::before {
	transform: translateX(100%);
}
button.meat:hover::before {
	transform: translateX(100%);
}
button.fish:hover::before {
	transform: translateX(100%);
}
button.drinks:hover::before {
	transform: translateX(100%);
}
button.alkohol:hover::before {
	transform: translateX(100%);
}

button.dish h2 {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 2rem;
	color: #fae6e6;
	text-align: center;
	transition: 0.1s 0.2s;
	z-index: 2;
}
button.dish:hover h2 {
	color: #17223f;
}
/* STARTERS VIEW */

.others-views {
	display: none;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
	width: 70%;
	height: 40%;
	background-color: #f5d6d6;
	border-right: 3px solid #0b1226;
	border-left: 3px solid #0b1226;
	overflow: hidden;
}
.starters-view {
	height: 100%;
	display: none;
}
.soups-view {
	height: 100%;
	display: none;
}
.meat-view {
	height: 100%;
	display: none;
}
.fish-view {
	height: 100%;
	display: none;
}
.drinks-view {
	height: 100%;
	display: none;
}
.alkohol-view {
	height: 100%;
	display: none;
}
p.meal {
	padding: 10px 30px;
	font-size: 2rem;
	color: #0b1226;
	cursor: default;
}
span.price {
	padding-left: 10px;
	font-size: 2.2rem;
}
.plus-btn {
	padding-left: 30px;
	cursor: pointer;
}
.plus-btn:hover {
	color: #f03939;
}
.back {
	position: relative;
	margin: 10px 30px;
	width: 80px;
	height: 30px;
	background-color: #17223f;
	border-style: none;
	border-radius: 5px;
	cursor: pointer;
	overflow: hidden;
}
.back::before {
	content: "";
	position: absolute;
	top: 0;
	left: -100%;
	transform: translateX(0);
	width: 80px;
	height: 30px;
	background: #f2a0c6;
	border-radius: 5px;
	transition: 0.3s;
}
.back:hover::before {
	transform: translateX(100%);
}
.back p {
	position: relative;
	font-family: "Roboto Condensed", arial, sans-serif;
	font-size: 1.4rem;
	font-weight: bold;
	text-transform: uppercase;
	color: #fae6e6;
	z-index: 2;
}

/* SEKCJA PRICE */

section.summary {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translateX(-50%);
	width: 70%;
	height: 15%;
	background-color: #f5d6d6;
	border: 3px solid #0b1226;
	border-top: none;
	border-radius: 0 0 20px 20px;
}
section.summary p {
	font-size: 1.6rem;
	color: #fae6e6;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
	cursor: default;
}
div.summarywrapper {
	display: flex;
	align-items: flex-start;
	height: 100%;
}
div.cash-register {
	flex-basis: 50%;
	display: flex;
	justify-content: flex-end;
	padding: 20px 20px 0 0;
}
div.shoppingwrapper {
	flex-basis: 50%;
	display: flex;
	justify-content: flex-start;
	padding: 20px 0 0 20px;
}
button.shopping {
	position: relative;
	width: 275px;
	height: 40px;
	background-color: #f03939;
	border-style: none;
	border-radius: 10px;
	cursor: pointer;
	overflow: hidden;
}
button.shopping::before {
	content: "";
	position: absolute;
	top: 0;
	left: -100%;
	transform: translateX(0);
	width: 275px;
	height: 40px;
	background-color: #8c0410;
	border-radius: 10px;
	transition: 0.3s;
}
button.shopping:hover::before {
	transform: translateX(100%);
}
button.shopping h2 {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	font-size: 1.6rem;
	color: #fae6e6;
	text-align: center;
	transition: 0.1s 0.2s;
	z-index: 2;
}
button.shopping i {
	margin-left: 10px;
}

.sum {
	width: 80px;
	height: 40px;
	background-color: #f03939;
	border-radius: 10px 0 0 10px;
}
.showprice {
	width: 200px;
	height: 40px;
	background-color: #fae6e6;
	border: 2px solid #f03939;
	border-left: none;
	border-radius: 0 10px 10px 0;
}
section.summary .showprice p {
	font-size: 1.6rem;
	color: #0b1226;
	text-align: center;
	text-transform: lowercase;
}
/* POPUPS */

.about-popup {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	height: 40%;
	background-color: #ebc6c6;
	border: 2px solid #0b1226;
	border-radius: 10px;
}
.about-popup p.meal{
	margin: 15px;
	text-align: center;
	line-height: 1.6;
	color: #0b1226;
}
p.close i{
	position: absolute;
	top: 3%;
	right: 1%;
	font-size: 2rem;
	color: #17223f;
	cursor: pointer;
	transition: 0.2s;	
}
p.close i:hover{
	color: #8c0410
}

/* SUCCESS-POPUP */
.success-window {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20%;
	height: 50px;
	background-color: #ebc6c6;
	border: 2px solid #17223f;
	border-radius: 10px;
	cursor: default;
}
.success-window p {
	font-size: 1.6rem;
	color: #0b1226;
	text-align: center;
	line-height: 45px;
}

/* SHOPPING POPUP */
.shopping-window {
	display: none;
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translateX(-50%);
	width: 60%;
	min-height: 50%;
	background-color: #f5d6d6;
	border: 3px solid #0b1226;
	border-radius: 10px;
	z-index: 2;
}
.shopping-window h3 {
	margin-top: 20px;
	font-size: 2.8rem;
	color: #0b1226;
	text-align: center;
	cursor: default;
}
.shopping-view {
	margin-top: 20px;
	margin-bottom: 80px;
	width: 100%;
	min-height: 70%;
	text-align: center;
}
.confirmorder-view {
	display: none;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-top: 20px;
	margin-bottom: 80px;
	width: 100%;
	min-height: 70%;
	text-align: center;
}
.payment {
	flex-basis: 100%;
	margin-top: 25px;
	font-size: 3rem;
	color: #2f8100;
	cursor: default;
}
.finishpayment {
	margin: 30px;
	width: 120px;
	height: 40px;
	background-color: #17223f;
	border-style: none;
	border-radius: 5px;
	cursor: pointer;
	overflow: hidden;
}
.card-popup {
	display: none;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
	height: 50px;
	background-color: #ebc6c6;
	border: 2px solid #17223f;
	border-radius: 10px;
	cursor: default;
}
.card-popup p {
	font-size: 1.6rem;
	color: #0b1226;
	text-align: center;
	line-height: 45px;
}
.tip-view {
	font-size: 0;
	display: none;
	justify-content: center;
	align-items: flex-start;
	margin-top: 20px;
	margin-bottom: 80px;
	width: 100%;
	min-height: 70%;
	text-align: center;
}
.tip {
	margin: 20px;
	font-size: 2.4rem;
	color: #0b1226;
}
.amount {
	margin: 20px;
	font-size: 2.4rem;
	color: #2f8100;
	font-weight: bold;
}
.chooseamount {
	width: 60px;
	height: 30px;
	background-color: #b8aeae;
	border: 1px solid #0b1226;
	border-radius: 5px;
	outline: none;
}
.backbutton {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	bottom: 0;
	margin-bottom: 10px;
	width: 100%;
	height: 70px;
}
.backbutton .buttons {
	width: 120px;
	height: 50px;
}
.cancel,
.confirm {
	position: relative;
	margin: 10px 30px;
	width: 80px;
	height: 30px;
	background-color: #17223f;
	border-style: none;
	border-radius: 5px;
	cursor: pointer;
	overflow: hidden;
}
.cancel p,
.confirm p {
	position: relative;
	font-family: "Roboto Condensed", arial, sans-serif;
	font-size: 1.4rem;
	font-weight: bold;
	text-transform: uppercase;
	color: #fae6e6;
	z-index: 2;
}
.confirmtip {
	display: none;
}
.finishorder {
	display: none;
}
.backeffect::before {
	content: "";
	position: absolute;
	top: 0;
	left: -100%;
	transform: translateX(0);
	width: 120px;
	height: 50px;
	background: #f2a0c6;
	border-radius: 5px;
	transition: 0.3s;
}
.backeffect:hover::before {
	transform: translateX(100%);
}
.backeffect p {
	color: #fae6e6;
	transition: 0.2s;
}
.backeffect:hover p {
	color: #17223f;
}
.deleteitem {
	margin-left: 30px;
	cursor: pointer;
}
.deleteitem:hover {
	color: #f03939;
}
p.error-info {
	margin: 20px;
	font-size: 1.6rem;
	color: #f03939;
	text-align: center;
}
.finishpayment {
	margin: 40px 30px;
	width: 100px;
	height: 35px;
	background-color: #17223f;
	border-style: none;
	border-radius: 5px;
	cursor: pointer;
	font-family: "Roboto Condensed", arial, sans-serif;
	font-size: 1.4rem;
	font-weight: bold;
	text-transform: uppercase;
	color: #fae6e6;
}
.active {
	background-color: #1a3275;
}
.visible {
	display: block;
}
.flexclass {
	display: flex;
}